spring:
  profiles:
    include: secret
  application:
    name: LeagueOfUnitedMinors
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
server:
  error:
    include-message: always
    include-binding-errors: always
logging:
  level:
    com.jknv.lum: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG

lum:
  jwt:
    issuer: DonkeyKong
    expiration: 3600

  cookie:
    name: authToken
    expires-in: 3600

  playoff:
    teams: 8
    min-matches: 2

  storage.path: "content-storage"
